<div class="details-container">
    <div class="details-header">
        <span *ngIf="item.id">{{item.name}}</span> {{title}}
    </div>
    <div class="details-body">
        <form class="form" name="itemForm" (ngSubmit)="sumbitForm()">
             <div *ngIf="!(item.id)" class="form-row">
                 <label>Name</label>
                 <input type="text" id="itemName"  name="itemName" required [(ngModel)]='item.name'/>
             </div>
            <div class="form-row">
                <label>Quantity</label>
                <input type="number"  id="itemQuantity" name="itemQuantity" required [(ngModel)]='item.quantity'/>
            </div>
            <div class="form-row">
                <label>Price</label>
                <input type="number" id="itemPrice" name="itemPrice" required [(ngModel)]='item.price'/>
            </div>
            <div class="form-row">
                <label>Description</label>
                <textarea name="itemDescription" id="itemDescription" [(ngModel)]='item.description' ></textarea>
            </div>
            <div class="form-row">
                <button type="submit" (click)="sumbitForm()" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
